/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END OF CSS RESET*/

html{
    background-color: rgba(122, 191, 191, .5);
}

body{
    width: 414px;
    max-width: 415px;
    margin: auto;
    background-color: #F2F2F2;
    font-family: 'Montserrat';
    font-size: 16px;
}

dt{
    font-weight: bold;
}
.title p{
    visibility: hidden;
}

header{
    background-color: white;
    height: 80px;
    width: 414px;
    position: fixed;
    top: 0px;
    z-index: 1;
}

header h2{
    visibility: hidden;
}

header h2 svg{
    visibility: visible;
    float: left;
    margin-left: 1em;;
}

header + h3{
    top: 90px;
}

header ul{
    visibility: hidden;
}

[href="#home"] svg{
    position: absolute;
    background-color:#EB5428;
    width: 13em;
    height: 80px;
    visibility: visible;
    top: 0px;
    right: 100px;
}

[href="#avatar"] svg{
    position: absolute;
    width: 4em;
    height: 50px;
    visibility: visible;
    top: 0px;
    right: 10px;
    background-color: white;
    fill: white;
   
}

header img{
    width: 2em;
}
h1{
    font-family:'Bebas Neue';
    font-size: 40px;;
}

fieldset{
    position: relative;
    top: -168em;
    right: 4px;
}

fieldset svg{
    position: relative;
    fill:#EB5428;
    background-color: #EB5428;
    height: 41px;
    right: 18px;
    top: 16.5px;
}

label{
    visibility: hidden;
}

input{
    border: 2px solid #EB5428;
    width: 250px;
    height: 35px;
}

#tacos{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 414px;
    height: 245px;
}
#tacos ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#tacos svg{
    transform:translate(-30px, -20px)
}

#social li{
    font-family: 'Bebas Neue';
    font-size: 20px;
   
}

#tacos h1{
    position: relative;
    text-align: center;
    top: -30px;
}

#tacos li{
    color:#EB5428;
}

section + img{
    width: 414px;
}

#recipe-body{
    background-color: #F2F2F2;
    padding: 0.5em;
}

#recipe-body p + p{
    margin: 1em auto;
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Bebas Neue';
}

h3{
    font-size: 25px;
    font-family: 'Bebas Neue';
}

.details dl{
    margin-top: 0.5em;
}

#prep{
    display: grid;
    grid-template-columns: 110px 110px;

}

#cook{
    display: grid;
    grid-template-columns: 110px 110px;
}

#total{
    display: grid;
    grid-template-columns: 110px 110px;
}

#author{
    display: grid;
    grid-template-columns: 110px 180px;
}

#servings{
    display: grid;
    grid-template-columns: 110px 110px;
}

.ingredients h2{
    margin: 1em auto;
}

.ingredients li{
    list-style-type: square;
    margin-left: 1em;
    margin-bottom: 1em;
}

.directions li{
    margin: 1em auto 1em 1em;
    list-style-type: decimal;
}

#side-dishes{
    background-color: #7abfbf;
}

.sides{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 150px 150px 150px 150px;
}

.sides img{
    grid-column: 1/2;
    width: 6em;
    
}

.sides h3{
    width: 200px;
    height: 40px;
    grid-column: 2/3;
}

.sides-info{
    grid-column: 2/3;
}
.sides p{
    height: 20px;
}

.sides p:nth-child(1){
    grid-row: 1/2;
}

#social h2, h3{
    visibility: hidden;
}
#last{
    background-color: white;
}

#social{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
  
}
#social ul{
    display: flex;
    margin-left: 2em;

    justify-content: center;
}

#social svg{
    transform: translate(-30px, -60px);
}
#social li{
    color:#EB5428;
}

footer p{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    justify-content: end;
    font-family: 'Bebas Neue';
    font-weight: bold;
}

footer img{
    position: relative;
    width: 10em;
    bottom: 2em;
}



@media screen and (min-width:768px) {

    html{
        width: 100%;
    }
    
    body{
        width: 768px;
        max-width: 769px;
        margin: auto;
    }

    header{
        height: 200px;
        width: 768px;
        display: flex;
        align-items: end;
    }

    [href="#home"] svg{
        position: absolute;
        background-color:#EB5428;
        width: 6em;
        height: 80px;
        visibility: visible;
        top: 0px;
        left: 0px;
    }

    header ul{
        visibility: visible;
        display: flex;
       
    }

    header a{
        color:#EB5428;
        text-decoration: none;
        font-family: 'Bebas Neue';
        font-weight: bold;
    }

    section + img{
        width: 768px;
    }

    #det-ingr{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .details{
        display: grid;
        justify-content: center;

        }
    
    .ingredients{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-top: 1em;
    }

    .ingredients ul{
        margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: start;
  
    }

    .ingredients h2{
       float: left;
        margin: 0px 0px 0px 1em;
    }

    .directions{
        display: flex;
        align-items: end;
        flex-direction: column;
        margin-top: 1em;
    }

    .directions ul{
        margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: end;
    }

    h3{
        visibility: visible;
    }

    .sides{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    input{
        position: fixed;
        top: 1.5em;
        z-index: 1;
        right: 17em;
    }

    fieldset svg{
        position: relative;
        fill:#EB5428;
        background-color: #EB5428;
        height: 41px;
        right: -36.7em;
        top: 1.16em;
        z-index: 1;
    }

    [href="#avatar"] svg{
        top: 1em;
    }

    #last h3{
        visibility: hidden;
    }

    #social{
        display: grid;
        justify-content: end;
        float: right;
    }

    #social ul{
        display: grid;
        grid-template-columns: 100px 100px 100px 100px;
        width: 400px;
    }

    #social li{
        display: grid;
        justify-content: center;
        align-content: center;
    }

    #social svg{
        transform: translate(14px, -57px);
    }
}

@media screen and (min-width:1280px){
    
    html{
        width: 100%;
    }
    
    body{
        width: 1280px;
        max-width: 1280px;
        margin: auto;
    }

    header{
        width: 1280px;
        height: 100px;
    }

    section + img{
        width: 600px;
        margin-left: 100px;
    }

    #tacos h1{
        top: 0em;
        text-align: center;
        right: -450px;
    }

    #big-details{
        background-color: black;
        color:#7abfbf;
        height: 50px;
    }
    .details{
       background-color: black;
       color: #7abfbf;
        display: flex;
    }

    .details dl{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .details dt{
        grid-row: 1/2;
    }

    .details dd{
        grid-row: 2/3;
    }

    .p{
        position: relative;
        float: right;
        width: 550px;
        top: -55em;
    }

    #tacos ul{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: start;
        top: 57em;
        background-color: white;
        width: 100px;
        height: 600px;
        gap: 3em;
        border: 2px solid #Eb5428;
        padding-bottom: 580px;
    }
}